.projects-wrapper {
  width: 100%;
  background-color: #b5b0b0;
  box-sizing: border-box;

}

.projects-heading h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Lovelyn",Cambria, Cochin, Georgia, Times, serif;
  color: #333;
  text-align: center;
}

.explore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;

}

.content-wrapper {
  margin: 40px 0;

}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 5%;

}



@media (max-width: 1024px) {
  .projects-container {
    gap: 25px;
  }
  .projects-heading {
    font-size: 1.8rem;
  }
}


@media (max-width: 768px) {
  .explore-page {
    padding: 0 10px;
  }



  .projects-container {
    gap: 15px;
    flex-direction: column;
  }

  .projects-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .projects-heading {
    font-size: 1.4rem;
  }

  .projects-container {
    gap: 10px;
  }

  .projects-wrapper {
    padding: 20px 0;
  }
}
