
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

video {
  display: block;
}


@media (max-width: 768px) {
  .ant-btn-primary {
    font-size: 0.8em;
  }

  .text {
    max-width: 90%;
    margin-left: 1em;
  }

  .text h1 {
    font-size: 2em;
  }

  .text p {
    font-size: 1.2em;
  }
}
